.jumbotron {
    text-align: center;
}
.heroes, #reset {
    display: none;
}


/* .black-panther, .Iron-Man, .Scarlet-Witch, .Captain-America, .Spider-Man, #reset {
    display: none; */
}
img {
    width: 500px;
    height: auto;
    padding: 3px;
    border: 5px black;
    margin: 5px;
}